<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
</head>
<body>

         <h1>Hey shawty !!! It's my birthday</h1>
         <h1 th:text="${name}" ></h1>
         <h1 th:text="${exacttime}" ></h1>

         <h1> Owner of this kingdom is <span th:text="${name}" ></span> </h1>
         <h2> Current time in Kurnool is <span th:text="${exacttime}" ></span></h2>


</body>
</html>
